<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jk.it2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/back"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/back"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Link"></activity>
        <activity android:name=".NextActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>